---
import { Astro } from 'astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerario</title>
    <style lang="scss">
      @import '../styles/sass/layout/Itinerario.scss';
  </style>
</head>
<body>
  <div class="gallery-container">
      <k class="gallery-title">ITINERARIO</k>
      <div class="gallery-wrapper">
        <button class="prev" onclick="prevImage()">&#10094;</button>
  <div class="gallery">
    <img src="../../public/images/Iglesia R.gif" alt="Iglesia" class="gallery-image">
    <img src="../../public/images/Recepción.gif" alt="Recepción" class="gallery-image">
    <img src="../../public/images/Baile.gif" alt="Baile" class="gallery-image">
    <img src="../../public/images/Brindis.png" alt="Brindis" class="gallery-image">
    <!-- Añade más imágenes según sea necesario -->
  </div>
        <button class="next" onclick="nextImage()">&#10095;</button>

        <div class="gallery-descriptions">
          <div class="image-description" data-index="0"> <h2>Ceremonia Religiosa 6:00 pm</h2> <br/ > <h3>Padrinos:</h3> 
            <br/ > -Anillos: Patricia Guerra <br/ > Natividad Nava 
            <br/ > <br/ > -Lazo: Rosa María Chávez <br/ > &emsp;&emsp;&emsp;Cesar De La O <br/ > &emsp;&emsp;&emsp;Minerva Guerra 
            <br/ > <br/ > - Arras: Patricia Leos <br/ > &emsp;&emsp;&emsp;Isidro Guerra
            <br/ > <br/ > Biblia: Cesar De La O Chávez <br/ > &emsp;&emsp;&emsp;Andrea Ocampo
            <br/ > <br/ > - Rosario: Myrna Chávez <br/ > &emsp;&emsp;&emsp;Hernando Valles
          </div>
          <div class="image-description" data-index="1"><h2>Recepción 9:00 pm</h2> <br/ > <h3> Padrinos: </h3> 
            <br/ > - Musica: Isidro Guerra <br/ > &emsp;&emsp;&emsp;Patricia Leos 
            <br/ > <br/ > - Pastel: Ana Aguilera <br/ > &emsp;&emsp;&emsp; Adriana Molina
            <br/ > <br/ > - Alcohol: Patricia De La O <br/ > &emsp;&emsp;&emsp; Rene Veleta 
            <br/ > <br/ > - Fotografía: Myrna Chávez <br/ > &emsp;&emsp;&emsp; Hernando Valles
            <br/ > <br/ > - Decoración y Detalles: Elvia De La O <br/ > &emsp;&emsp;&emsp; Juana Guerra
            <br/ > &emsp;&emsp;&emsp; Idalia Villanueva <br/ > &emsp;&emsp;&emsp; Francisco Narvaez
            <br/ > &emsp;&emsp;&emsp; Adriana Guerra <br/ > &emsp;&emsp;&emsp; Ricardo Ruíz </div>
            <div class="image-description" data-index="1"> <h1>Baile de Novios 10:00 pm </h1> </div>
            <div class="image-description" data-index="1"> <h1>Brindis 11:30 pm </h1>  
          <!-- Añade más descripciones según sea necesario -->
        </div>

      </div>
      <div class="gallery-dots">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span> 
          <!-- Añade más dots según sea necesario -->
      </div>
  </div>
  <script src="../../src/scripts/Itinerario.js" type="module"></script>
</body>
</html>
